@import "@styles/_variables.scss";


*{
  box-sizing: border-box;
}



.form_popup {
  z-index: 100;
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba($color: #000000, $alpha: 0.7);
  backdrop-filter: blur(10px);

  &-content {
    max-width: 500px;
    width: 100%;
    background: $black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.form{
  &-image{
    width: 100%;
    height: fit-content;
    aspect-ratio: 100 / 50;
    @include image_container;
    & img{
      @include image;
    }
  }
  &-container{
    padding: 24px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    & input{
      width: 100%;
      height: 50px;
      padding: 0 16px;
      background-color: rgba($white, 10%);
      border-radius: 12px;
      color: $white;
      @include Montserrat-Regular;
      font-size: 16px;
      outline: none;
      border: 0;
    }
    & button{
      width: 100%;
      height: 50px;
      padding: 0 16px;
      background-color: #000;
      border-radius: 12px;
      color: $white;
      @include Montserrat-Regular;
      font-size: 16px;
      outline: none;
      border: 0;
      cursor: pointer;
    }
    & p{
      @include Montserrat-Semibold;
      color: $white;
      font-size: 24px;
      margin-bottom: 12px;
    }
  }
}

.visible {
  display: flex;
}

.header__inner-info.visible{
  display: flex;
  margin-top: 24px;
  width: 100%;
  justify-content: space-between;
  padding: 16px;
  margin-top: 16px;
  background-color: $black;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-thumb {
background: rgba($black, 90%);
border-radius: 20px;
}

body{
  margin: 0;
  @include Montserrat-Medium;
  size: 16px;
  color: $black;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}

h1,h2,h3,h4,h5,p{
  margin: 0;
}

.burger{
  display: none;
}

.menu{
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  background-color: rgba($black, 100%);
  display: none;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  z-index: 10;
  height: 100dvh;
  justify-content: space-between;
  backdrop-filter: blur(10px) !important;
  &.visible{
    display: flex;
  }
  &-link{
    height: 48px;
    width: 100%;
    padding: 0 16px;
    text-decoration: none;
    color: $white;
    border-bottom: 1px solid rgba($white, 5%);
    display: flex;
    align-items: center;
    &:first-child{
      border-top: 1px solid rgba($white, 5%);
    }

  }
  &-links{
    width: 100%;
  }

}


.header{

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba($black, 90%);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  backdrop-filter: blur(10px);

  &__inner{
    z-index: 1000;
    width: 100%;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-navs{

      display: flex;
      gap: 24px;
    }
    &-link {
      font-size: 14px;
      @include Montserrat-Regular;
      color: $white;
      text-decoration: none;
      display: inline-block;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $white;
        transition: transform 0.25s ease-out;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
    &-info {
      display: flex;
      gap: 16px;
      align-items: center;
    }
    &-links {
      padding-left: 16px;
      border-left: 1px solid rgba($white, 50%);
      display: flex;
      gap: 16px;
      align-items: center;
      & a {
        height: 18px;
      }
    }
  }
}


.intro{
  height: 60vh;

  width: 100%;
  background-color: #000;
  position: relative;
  &__video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &-content {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
  }
  &-logo {
    width: 200px;
    height: fit-content;
    aspect-ratio: 200 / 46;
  }
  &-button {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    @include Montserrat-Semibold;
    background: transparent;
    outline: none;
    border: 0;
    cursor: pointer;
  }
}

.recomended {
  max-width: 80%;
  width: 100%;
  &__header {
    margin-bottom: 32px;
    &-title {
      @include Montserrat-Semibold;
      font-size: 32px;
      margin-bottom: 8px;
    }
    &-text{
      @include Montserrat-Medium;
      font-size: 16px;
      color: $gray;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 42px;
  }

  &__item {
    flex-grow: 1;
    width: 280px;
    border-radius: 4px;
    @include image_container;
    height: fit-content;
    aspect-ratio: 1130 / 550;
    overflow: hidden;
    &:first-child{
      width: 100%;
      aspect-ratio: 1130 / 400;
    }
    & img {
      @include image;
      transition: all 1s ease-in-out;
      &:hover {
        width: 120%;
      }
    }

    &:hover img{
      width: 115%;
    }
    &-name{
      @include Montserrat-Semibold;
      font-size: 32px;
      color: $white;
      text-transform: uppercase;
      position: absolute;
      left: 32px;
      bottom: 32px;
      z-index: 10;

    }
  }
}


.info{
  background-color: $black;
  padding: 68px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
  width: 100%;
  &__top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 40px;
    flex-wrap: wrap;
    gap: 16px;

  }
  &__header{
    &-title{
      @include Montserrat-Semibold;
      font-size: 32px;
      color: $white;
      margin-bottom: 8px;
    }
    &-text{
      @include Montserrat-Medium;
      font-size: 16px;
      color: rgba($white, 50%);
    }
    &-body{
      @include Montserrat-Medium;
      font-size: 16px;
      color: rgba($white, 60%);
      max-width: 60%;
      font-size: 18px;
    }

    & a{
      color: $white;
      text-decoration: underline;
    }
  }
  &__video{
    width: 80%;
    height: fit-content;
    aspect-ratio: 1130 / 535;
    object-fit: cover;
    margin-bottom: 60px;
  }
}

.news{
  width: 80%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.article{
  flex-grow: 1;
  width: 280px;
  &-img{
    @include image_container;
    height: fit-content;
    aspect-ratio: 555 / 300;
    margin-bottom: 24px;
    & img{
      @include image;
    }
  }
  &__body{
    display: flex;
    gap: 6px;
    &-title{
      flex-grow: 1;
      font-size: 24px;
      @include Montserrat-Medium;
      color: $white;
    }
    &-date{
      font-size: 16px;
      @include Montserrat-Medium;
      color: rgba($white, 40%);
      width: fit-content;
      margin-top: 4px;
    }
  }
}

.testiomonials{
  max-width: 80%;
  width: 100%;
  &-button{
    display: flex;
    align-items: center;
    gap: 10;
    color: $black;
    @include Montserrat-Semibold;
  }
  &__header{
    margin-bottom: 42px;
    &-title{
      @include Montserrat-Semibold;
      font-size: 32px;
      margin-bottom: 8px;
    }
    &-text{
      @include Montserrat-Medium;
      font-size: 16px;
      color: $gray;
    }
  }
  &__content{
    display: flex;
    gap: 20px;
  }
  &__share{
    flex-grow: 1;
    width: 280px;
    &-image{
      width: 100%;
      height: fit-content;
      aspect-ratio: 555 / 180;
      @include image_container;
      & img{
        @include image;
      }
    }
    &-content{
      display: flex;
      gap: 12px;
      padding: 16px;
      & img{
        width: 90px;
        height: fit-content;
        aspect-ratio: 1 / 1;
        margin-top: -60px;
        z-index: 1;
      }
    }
    &-text{
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    &-title{
      @include Montserrat-Semibold;
      text-transform: uppercase;
      font-size: 16px;
    }
    &-body{
      @include Montserrat-Medium;
      font-size: 14px;
      color: $gray;
    }
  }
  &__list{
    flex-grow: 1;
    width: 280px;
  }
}

.about{
  background-color: $black;
  padding: 68px 40px;
  padding-right: 0;
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: center;
  &__content{
    display: flex;
    flex-direction: column;
    gap: 86px;
    &-logo{
      width: 140px;
      height: fit-content;
    }
    &-text{
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    &-title{
      @include Montserrat-Semibold;
      font-size: 32px;
      color: $white;
      margin-bottom: 8px;
    }
    &-body{
      @include Montserrat-Medium;
      font-size: 16px;
      color: rgba($white, 50%);
      margin-bottom: 32px;
    }
  }
  &__image{
    width: 100%;
    height: fit-content;
    aspect-ratio: 825 / 480;
    max-height: 700px;
    @include image_container;
    & img{
      @include image;
    }
  }
}

.footer{
  background-color: $black;
  border-top: 1px solid rgba($white, 5%);
  &__inner{
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
  &__info{
    flex-grow: 1;
    width: 280px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    &-logo{
      width: 140px;
      height: fit-content;
    }
  }
  &__contact{
    &.link{
      width: fit-content;
      flex-grow: 0;
    }
    flex-grow: 1;
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    &-item{
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    &-title{
      @include Montserrat-Semibold;
      color: $white;
    }
    &-text{
      color: $gray;
      text-decoration: none;
    }
    &-links{
      display: flex;
      gap: 10px;
    }
  }
}

@import "@styles/_queries.scss";
